@font-face {
    font-family: 'Elusive';
    src: url('../font/Elusive-Icons.eot'), url('../font/Elusive-Icons.svg#Elusive-Icons') format('svg'), url('../font/Elusive-Icons.woff') format('woff'), url('../font/Elusive-Icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.jhp-caro {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.jhp-caro:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.curtain, .jhp-caro, .pane, ul.main, section.container, section.container > .row, .small-12.large-12.columns, .small-12.large-8.columns {
    width: 100%;
    height: 100%;
}
.pane img, .thumb-bank {
    width: 100%;
}
.jhp-caro .main img, .jhp-caro .thumb-bank img {
    display: block;
    position: absolute;
    margin: 0 auto;
    max-width: none;
    top: 0;
}
.jhp-caro .navi.back, .jhp-caro .navi.forw {
    position: absolute;
    bottom: 50%;
    z-index: 14999;
    cursor: pointer;
}
.jhp-caro .navi.back {
    left: 1.25rem;
}
.jhp-caro .navi.forw {
    right: 1.25rem;
}
#carousel, .columns[role=main] {
    background: #fff;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1;
}
.columns[role=main] {
    padding: 0;
}
#carousel ul, #carousel li, .curtain, .animate, .columns, .thumb-bank, .row.projects {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
#carousel ul, .columns[role=main] {
    position: relative;
    margin-bottom: 0;
}
#carousel ul {
    overflow: hidden;
}
#carousel li {
    background-color: #fff;
    float: left;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pane {
    position: absolute;
    top: 0;
    left: 0;
    transition: margin 750ms ease;
    -webkit-transition: margin 750ms ease;
    margin-left: 110vw;
}

.pane.drag {
    transition: none;
    -webkit-transition: none;
}
.pane.on {
    margin-left: 0 !important;
}
.pane.off {
    margin-left: -110vw !important;
}
#carousel li h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
}
.row.projects {
    -webkit-transition: padding .5s ease;
    -moz-transition: padding .5s ease;
    -o-transition: padding .5s ease;
    transition: padding .5s ease;
}
.jhp-caro .thumb-bank {
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15000;
    background: #fff;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.jhp-caro .thumb-bank {
    margin: -3px 0 0 -3pz;
}
.jhp-caro .thumb-bank.open {
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    height: 100%;
}
.jhp-caro .thumb-bank ul {
    width: 50000%;
    float: left;
}
.jhp-caro .thumb-bank ul li {
    cursor: pointer;
    margin: 3px;
}
.jhp-caro .open-thumb-bank, .jhp-caro .close-thumb-bank, .jhp-caro .navi, .left-off-canvas-toggle-edit {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 14999;
    cursor: pointer;
    font-family: 'Elusive';
    font-size: 133.333%;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding-left: 4px;
    margin: 0;
    color: #000;
    float: left;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
.tab-bar-section a {
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
.jhp-caro .open-thumb-bank:hover, .jhp-caro .close-thumb-bank:hover, .jhp-caro .navi:hover, .left-off-canvas-toggle-edit:hover, .tab-bar-section a:hover {
    background: rgba(255, 255, 255, 0.8);
}
.jhp-caro .open-thumb-bank:active, .jhp-caro .close-thumb-bank:active, .jhp-caro .navi:active, .left-off-canvas-toggle-edit:active, .tab-bar-section a:active {
    background: rgba(255, 255, 255, 1);
}
.jhp-caro .open-thumb-bank {
    height: 29px;
    width: 29px;
    line-height: 29px;
}
.jhp-caro .navi {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-left: 2px;
}
.jhp-caro .navi.forw {
    padding-left: 6px;
}
.jhp-caro .close-thumb-bank {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 14999;
    cursor: pointer;
    font-size: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    padding-left: 6px;
    border-radius: 17px;
}
/* -- Nav Overrides -- */

.menu-main-container {
    position: fixed;
    background: transparent;
    top: 20px;
    left: 20px;
    z-index: 5;
}
#navigation-sticky-wrapper #navigation {
    background: transparent;
}
#navigation-sticky-wrapper ul {
    clear: left;
}
.curtain {
    background: #fff;
    transition: margin 750ms ease;
    -webkit-transition: margin 750ms ease;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    overflow: hidden;
}
.curtain:nth-of-type(1){
    z-index: 5004;
}
.curtain:nth-of-type(2){
    z-index: 5003;
    align-items: center;
}
.curtain:nth-of-type(3){
    z-index: 5002;
}
.curtain:nth-of-type(4){
    z-index: 5001;
}
.curtain.drag {
    transition: none;
    -webkit-transition: none;
}
.curtain.down {
    margin-top: 0 !important;
}
.curtain.up {
    margin-top: -110vh !important;
}
nav.tab-bar {
    background: transparent;
    color: #000;
    height: 2.8125em;
    line-height: 2.8125rem;
    position: absolute;
    z-index: 10;
}
section.left-small {
    border-right: none;
    box-shadow: none;
    left: 1.25rem;
    position: fixed;
    bottom: 1.25rem;
    top: auto;
    color: #000;
    font-size: 95%;
    background: rgba(255, 255, 255, 0.5);
    border-right: none;
    box-shadow: none;
    height: auto;
    width: auto;
    cursor: pointer;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
section.left-small:hover {
    background: rgba(255, 255, 255, 0.8);
}
section.left-small:active {
    background: rgba(255, 255, 255, 1);
}
section.left-small .left-off-canvas-toggle-edit {
    position: relative;
    bottom: 0;
    right: 0;
    padding-left: 5px;
    background: transparent;
    opacity: 1;
}
section.left-small {} section.tab-bar-section {
    padding: 0;
    position: absolute;
    text-align: center;
    height: 2.8125rem;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 2;
}
.left-off-canvas-menu {
    width: 280px;
    top: 5.85rem;
    left: 1.25rem;
    position: absolute;
    overflow-y: auto;
    background: rgba(255, 255, 255, .5);
    z-index: 1001;
    -webkit-transform: translate3d(-120%, 0, 0);
    -moz-transform: translate3d(-120%, 0, 0);
    -ms-transform: translate3d(-120%, 0, 0);
    -o-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
}
ul.off-canvas-list li a {
    display: block;
    padding: 0.36667rem 0.46667rem;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-weight: bold;
}
ul.off-canvas-list li:last-child a {
    border-bottom: none;
}
.move-right a.exit-off-canvas, .move-right a.exit-off-canvas:hover {
    box-shadow: none;
    cursor: pointer;
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.menu-curtain a {
    display: block;
    position: relative;
}
.move-right>.inner-wrap>.tab-bar>.left-small>.left-off-canvas-toggle-edit, .move-right>.inner-wrap>a.exit-off-canvas {
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
}
aside li.menu-item:hover {
    background: rgba(255, 255, 255, .75);
}
aside .menu-item.act {
    background: rgba(255, 255, 255, .4);
}
nav.tab-bar h2.entry-title {
    float: left;
    line-height: 1.9rem;
    margin: 1px .5rem -1px .3rem;
    color: #000;
    font-size: 100%;
    text-transform: uppercase;
}
.row.projects {
    max-width: 60rem;
    width: 100%;
    position: relative;
    display: block;
    margin:0 auto;
    padding: 0 .5rem;
}

.row.projects div {
    padding: .25rem ;
}
.row.projects a span {
    font-family: 'Elusive';
    font-size: 100%;
    padding-left: 5px;
    vertical-align: top;
}
@media all and (max-width: 1400px) {
    .move-right .row.projects {
        padding-left: 300px;
        padding-right: 0px;
        overflow: visible;
    }
}
/* -- Spinner -- */

.loading {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: absolute;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    display: flex;
    align-items: center;
  }
.loading.hide, .loading.logo > div.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s ease;
}
.loading.logo {
    z-index: 37173;
    background: #fff;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}
.loading.logo > div {
    display: block;
    margin-left: -387px;
    top: 420px;
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.loading.logo img {
    height: 172px;
    width: 775px;
}
.loading.logo h2 {
    font-size: 155%;
    text-transform: Uppercase;
    letter-spacing: 1px;
    padding-left: 48px;
    margin-top: -38px;
}


.loading.hide, .spinner.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s ease;
}
.loader {
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.8em auto;
    position: relative;
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.11em -0.83em 0 -0.42em #333333, -0.11em -0.83em 0 -0.44em #333333, -0.11em -0.83em 0 -0.46em #333333, -0.11em -0.83em 0 -0.477em #333333;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.11em -0.83em 0 -0.42em #333333, -0.11em -0.83em 0 -0.44em #333333, -0.11em -0.83em 0 -0.46em #333333, -0.11em -0.83em 0 -0.477em #333333;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.51em -0.66em 0 -0.42em #333333, -0.75em -0.36em 0 -0.44em #333333, -0.83em -0.03em 0 -0.46em #333333, -0.81em 0.21em 0 -0.477em #333333;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.29em -0.78em 0 -0.42em #333333, -0.43em -0.72em 0 -0.44em #333333, -0.52em -0.65em 0 -0.46em #333333, -0.57em -0.61em 0 -0.477em #333333;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.11em -0.83em 0 -0.42em #333333, -0.11em -0.83em 0 -0.44em #333333, -0.11em -0.83em 0 -0.46em #333333, -0.11em -0.83em 0 -0.477em #333333;
    }
}
@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.11em -0.83em 0 -0.42em #333333, -0.11em -0.83em 0 -0.44em #333333, -0.11em -0.83em 0 -0.46em #333333, -0.11em -0.83em 0 -0.477em #333333;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.11em -0.83em 0 -0.42em #333333, -0.11em -0.83em 0 -0.44em #333333, -0.11em -0.83em 0 -0.46em #333333, -0.11em -0.83em 0 -0.477em #333333;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.51em -0.66em 0 -0.42em #333333, -0.75em -0.36em 0 -0.44em #333333, -0.83em -0.03em 0 -0.46em #333333, -0.81em 0.21em 0 -0.477em #333333;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.29em -0.78em 0 -0.42em #333333, -0.43em -0.72em 0 -0.44em #333333, -0.52em -0.65em 0 -0.46em #333333, -0.57em -0.61em 0 -0.477em #333333;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #333333, -0.11em -0.83em 0 -0.42em #333333, -0.11em -0.83em 0 -0.44em #333333, -0.11em -0.83em 0 -0.46em #333333, -0.11em -0.83em 0 -0.477em #333333;
    }
}
