#connectText {
padding:0px 25px;
font-size:16px;
max-width:960px;
margin: 0px auto;
line-height:20px;
}
#connectText .row {
	margin-bottom: 40px;
}
#connectText .columns p {
	line-height:20px;
	
}

#categories, #personalProjects, #commissionedWork {
	padding:0px 40px 0px 40px;
}
.logo, .tab-bar-section a {
	width: 280px;
	height: 62px;
	display: block;
}
.tab-bar-section a {
	background-color:rgba(255,255,255,.5);
	padding:2px 8px;
}
#connectText a:link, #connectText a:hover, #connectText a:visited{
	color:#000;
}
.smallerTitle{
	font-size: 12px;
	line-height:30px;
}
#social {
	height:32px;
	width:auto;
	display:block; 
}
a.socialFB {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/facebook-4-32.png) no-repeat -2px 0;
	display:block;
	color:rgba(255,255,255,0);
}
a.socialgp {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/googleplus-32.png) no-repeat -2px 0;
	display:block;
	color:rgba(255,255,255,0);
	margin-left:120px;
	margin-top:-32px;
}
a.pinkFB {
	margin-top:40px;
	background-size:contain;
	width:30px;
}
a.socialTum {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/tumblr-4-32.png) no-repeat -2px 0;
	display:block;
	margin-left: 30px;
	margin-top: -32px;
	color:rgba(255,255,255,0);
	
}
a.socialTW {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/twitter-4-32.png) no-repeat -2px 0;
	display:block;
	margin-left: 60px;
	margin-top: -32px;
	color:rgba(255,255,255,0);
}
a.dillonTW {
	margin-left: 0px;
	margin-top: 0px;
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/twitter-4-32.png) no-repeat -2px 0;
	color:rgba(255,255,255,0);
	display:block;
}
a.socialLI {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/linkedin-4-32.png) no-repeat -2px 0;
	display:block;
	margin-left: 90px;
	margin-top: -32px;
	color:rgba(255,255,255,0);
}
a.socialIN {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/instagram-4-32.png) no-repeat -2px 0;
	display:block;
	margin-left: 150px;
	margin-top: -32px;
	color:rgba(255,255,255,0);
}
a.ashleyIN {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/instagram-4-32.png) no-repeat -2px 0;
	display:block;
	margin-left: 0px;
	margin-top: 0px;
	color:rgba(255,255,255,0);
}

a.ashleyTW {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/twitter-4-32.png) no-repeat -2px 0;
	margin-right:10px;
	display:block;
	margin-left: 30px;
	margin-top: -32px;
	color:rgba(255,255,255,0);
}
a.ashleyLI {
	background-size:contain;
	width:30px;
	height:32px;
	background: url(../img/linkedin-4-32.png) no-repeat -2px 0;
	display:block;
	margin-left: 60px;
	margin-top: -32px;
	color:rgba(255,255,255,0);
}
#connectText a.socialgp:link, #connectText a.socialgp:hover, #connectText a.socialgp:visited,#connectText a.socialIN:link, #connectText a.socialIN:hover, #connectText a.socialIN:visited,#connectText a.socialTW:link, #connectText a.socialTW:hover, #connectText a.socialTW:visited, #connectText a.socialLI:link, #connectText a.socialLI:hover, #connectText a.socialLI:visited, #connectText a.socialTum:link, #connectText a.socialTum:hover, #connectText a.socialTum:visited, #connectText a.socialFB:link, #connectText a.socialFB:hover, #connectText a.socialFB:visited {
	color: rgba(255,255,255,0);
}

#teamWrapper {
    height:100%;
    width:100%;
	overflow:hidden;
	margin:-3px 0 0 -3px;
	color:#000;
	text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}
#teamWrapper .row {
	overflow:hidden;
	height: 50%;
	margin: 0;
}

#teamWrapper .row .columns{
	overflow:hidden;
	height: 100%;
	padding: 0;
	border:3px solid #fff;
}

#teamWrapper .text {
	position: relative;
	margin-left:0px;
	font-size: 12px;
	line-height:18px;
	text-align:right;
	z-index: 300;
	padding: 12px 15px;
	float:right;
}

#teamWrapper .jim .text { 
	font-size: 1rem;
}

#teamWrapper .row:last-child .text {
	text-align:left;
	float:left;
}


.jim, .stinson, .emily, .ashley, .dillon {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#connectText {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tablet landscape */

@media only screen 
and (min-width : 769px) 
and (max-width : 1024px) 
{ 
#jimText {
	position:absolute;
	top:10px;
	right:10px;
	width:33%;
	margin-left:0px;
	font-size: 14px;
	line-height:16px;
	
}

}

@media only screen 
and (min-device-width : 769px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
#jimText {
	position:absolute;
	top:10px;
	right:10px;
	width:33%;
	margin-left:0px;
	font-size: 14px;
	line-height:16px;
	
}
}

/*tablet & iphone portrait*/

@media only screen and (max-width: 900px) {
	
	
	#teamWrapper .row {
		margin-bottom: .5em;
		max-height: 100%;
	}
		
	/*	#teamWrapper .column, #teamWrapper .columns {
		padding-left:0em;
		padding-right:0em;
		margin-bottom: .5em;
		width:100%;
	}
	*/
	/*#jimPhoto, .dillonPhoto, .emilyPhoto, .stinsonPhoto, .ashleyPhoto {
		
		
		height: 350px;
		width:100%;
		overflow:hidden;
		
	}*/

	#jimText, .dillonText, .ashleyText, .emilyText, .stinsonText{
		font-size: 12px;
		line-height:14px;
	}
	
}
@media only screen and (max-width: 700px) {

	#jimText, .dillonText, .ashleyText, .emilyText, .stinsonText{
		background:rgba(255,255,255,.5);
		font-size:11px;
		line-height:13px;
	}

	.dillonText, .ashleyText, .emilyText {
		left:4px;
		top: 0px;
		padding-left:5px;

	}

	.emilyText {
		left:4px;
		top:0px;
		padding-left: 7px;
	}

	#jimText, .stinsonText {
		right:5px;
		padding-right: 10px;
	}


}







.row.projects h3 {
	text-transform:lowercase;
	font-weight:normal;
	font-size: 16px;
}

.row.projects a {
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	color:#000;
}

.row.projects a:hover {
	color:#777;
}
	
.jig-caption-title strong, .jig-caption-description strong {
	text-transform:uppercase;
}
.jig-caption-title {
	text-transform:lowercase;
	font-weight:normal;
}
.jig-caption-description {
	padding-bottom:10px;
}
.arve-normal-wrapper {
	margin: 95px auto 0px;
}
#jigWrapper {
	display:none;
	margin: 0px auto;
}
.pp span img, .cw span img {
	width:17px;
	height:17px;
	margin-top: -8px;
}
#teamWrapper .text strong {
	text-transform: uppercase;
}
#teamWrapper .jim .text {
	width: 33%;
}

